/* style.css */

/*
 *    GENERAL   *
 * 
 * stroke=#000000; stroke-width=1; fill=none;
 */

.line{
    stroke:#000000;
    stroke-width:1;
    fill:none;
}

.line2{
    stroke:#666666;
    stroke-width:0.3;
    fill:none;
}

.thread{
    stroke:#000000;
    stroke-width:0.75;
    fill:none;
    stroke-linecap:square;
}

.innerThread{
    stroke:#000000;
    stroke-dasharray:1 2;
    stroke-width:0.75;
    fill:none;
    stroke-linecap:square;
}

.sewingSupport{
    stroke:#000000;
    stroke-width:0.5;
    fill:none;
}

.dot{
    fill:#000000;
    stroke:#000000
}

.text_va{
    font-family:courier, monospace;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    font-size:8px;
    fill:#000000;
    dominant-baseline:central;
}
