/* style.css */

/*
 *    GENERAL   *
 * 
 * stroke=#000000; stroke-width=1; fill=none;
 */

.titleText{
    font-family: 'SimonciniGaramond LT', garamond, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10pt;
    dominant-baseline: alphabetic;
    text-anchor: middle;
}

.descText{
    font-family: 'SimonciniGaramond LT', garamond, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 5pt;
    dominant-baseline: alphabetic;
    text-anchor: start;
}

.line{
    stroke:#000000;
    stroke-width:1pt;
    fill:none;
}

.line2{
    stroke:#000000;
    stroke-width:2pt;
    fill:none;
}

.line_ref{
    stroke:#999999;
    stroke-width:0.5pt;
    fill:none;
}

.thread{
    stroke:#000000;
    stroke-width:0.5;
    fill:none;
}

