/* style.css */

/*
 *    GENERAL   *
 * 
 * stroke=#000000; stroke-width=1; fill=none;
 */

.line{
    stroke:#000000;
    stroke-width:1;
    fill:none;
}

.line-50{
    stroke:#000000;
    stroke-width:1;
    stroke-opacity:0.5;
    fill:none;
}

.glued{
    stroke:grey;
    stroke-width:1;
}

.thread{
    stroke:#000000;
    stroke-width:0.5;
    fill:none;
}

.text_va{
    font-family:courier, monospace;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    font-size:8px;
    fill:#000000;
    dominant-baseline:central;
}
