/* style.css */

/*
 *    GENERAL   *
 * 
 * stroke=#000000; stroke-width=1; fill=none;
 */

.titleText{
    font-family: 'SimonciniGaramond LT', garamond, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10pt;
    dominant-baseline: alphabetic;
    text-anchor: middle;
}

.descText{
    font-family: 'SimonciniGaramond LT', garamond, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 5pt;
    dominant-baseline: alphabetic;
    text-anchor: start;
}


.line{
    stroke:#000000;
    stroke-width:1;
    fill:none;
}

.line2{
    stroke:#666666;
    stroke-width:0.3;
    fill:none;
}

.above{
    stroke:#000000;
    stroke-width:1;
    fill:#FFFFFF;
    fill-opacity:0.9;
}

.thread{
    stroke:#000000;
    stroke-width:0.75;
    fill:none;
    stroke-linecap:square;
}

.glued{
    stroke:grey;
    stroke-width:1;
}

.text_va{
    font-family:courier, monospace;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    font-size:8px;
    fill:#000000;
    dominant-baseline:central;
}
