/* style.css */

/*
 *    GENERAL   *
 * 
 * stroke=#000000; stroke-width=1; fill=none;
 */


.line{
    stroke:#000000;
    stroke-width:1;
    fill:none;
}

.nolineFilled{
    stroke:#FFFFFF;
    stroke-opacity:0;
    stroke-width:1;
    fill:url(#thicknessCutoutTile);
}

